.Navbar_wrapper {
    --height: 66px;
    align-items: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e8ebed;
    display: flex;
    font-size: 1.4rem;
    height: var(--height);
    left: 0;
    padding: 0 28px;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 20;
}
.Navbar_Logo img{
    border-radius: 8px;
    flex-shrink: 0;
    height: 55px;
    object-fit: contain;
    width: 65px;
}
.background_user {
    width: 1000px;
    height: 200px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}
.Profile_user {
    align-items: flex-end;
    bottom: -60px;
    display: flex;
    left: 100px;
    position: absolute;
    z-index: 1;
}
.Profile_user-avatar {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    height: 172px;
    justify-content: center;
    width: 172px;
}
.FallbackAvatar_avatar {
    border-radius: 50%;
    height: 9em;
    object-fit: cover;
    width: 9em;
}
.Profile_user-name {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 16px;
    margin-left: 29px;
    text-align: center;
}
.Profile_Information {
    margin-top: 90px;
    padding: 0 24px;
}
.Box_wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 18px 14px;
    word-break: break-word;
}
.Profile_participation {
    align-items: flex-start;
    display: flex;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 15px;
    display: block;
}
